@font-face {
  font-family: NeueHelveticaforZara-Lt;
  src: url('NeueHelveticaforZara-Lt.otf');
}

body { 
  font-family: "NeueHelveticaforZara-Lt", "Verdana"; 
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #fff;
  margin-bottom: 1rem;
  padding-left: 80px;
}

.header-title {
  font-size: 2rem;
  font-weight: normal;
  margin-left: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

#searchbox {
  margin: 1em;
}

#clear-refinements {
  margin-right: 4em;
  margin-top: 1em;
}

.ais-SearchBox { 
  margin: 1em 0; 
}

.ais-Pagination { 
  margin-top: 5em; 
}

.ais-Pagination-list {
  margin-left: 30%;
  margin-bottom: 5em;
}

.left-panel { 
  float: left; 
  margin-top: 1em; 
  margin-left: 2em;
  width: 250px; }

.right-panel { 
  margin-left: 250px; }

.ais-InstantSearch { 
  max-width: 1260px; 
  margin: 0 auto; }

.ais-Hits-list { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 1em; 
}

.ais-Hits-item { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 0.5em;
  text-align: center;
}

.ais-Hits-item img { 
  margin-bottom: 1em;
}

.hit-name { 
  margin-bottom: 0.5em; }

.hit-description { 
  color: #888; 
  font-size: 14px; 
  margin-bottom: 0.5em; }

.hit-size { 
  color: #888; 
  font-size: 12px; 
  margin-bottom: 0.5em; }

.btn {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 0.5em;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid #555555;
}

#stats {
  text-align: right;
  margin-right: 1em;
}

#precio-filter {
  width: 90%;
}

.ais-SearchBox-form {
  margin-left: 0.5em;
}

#searchbox .aa-Form{
    caret-color: black;
    border: 0.5px solid black;
    border-radius: 0;
    box-shadow: none;
}

#searchbox .aa-SubmitIcon{
  fill: black;
}

#searchbox .ais-SearchBox-input::placeholder {
  color: black;
}

#searchbox .ais-SearchBox-form:before {
  display: none;

}



.ais-RefinementList .ais-HierarchicalMenu-count, .ais-Menu-count, .ais-RatingMenu-count, .ais-RefinementList-count, .ais-ToggleRefinement-count{
  border-radius: 0;
  border: 0 solid black;
  background: transparent;
  margin: 0;
  padding: 0 0.5rem;
}

.ais-RangeSlider .rheostat-progress {
  background-color: black;
}

.ais-Panel-header {
  color: black;
}

.ais-RangeSlider .rheostat-handle {
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 10px;
  box-shadow: 0 1px 0 0 rgba(35,38,59,.05);
  height: 24px;
  margin-left: -6px;
  top: -11px;
  width: 12px;
}